<Limit GET POST PUT DELETE OPTIONS>
    Allow from all
</Limit>


RewriteEngine On
RewriteBase /~user12/booker/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php